.principal{
    margin-top: 2em;
    font-family: 'Questrial', sans-serif;
    font-size: 12pt;
    color: rgba(0,0,0,.6);
    text-align: center;
}

.searchDiv{
    text-align: left;
    display: inline-block;
    border: solid;
    border-color: red;
}

.searchDiv p{
    float:left;
    text-align: left;
}

.property_status{
    float: left;
    padding: 0px;
    margin: 0px auto;
    width: 120px;
    overflow: auto;
    height: 40px;
    color: black;
    font-family: sans-serif;
    font-size: 10px;
    float:left;
}


.rotulo{
    font-family: 'Questrial';
    font-size: 1.5em;
    font-weight: bold;
    color: #16A085;
}

.loggedDiv{
    text-align: center;
    padding: 2em;
}

.errorDiv{
    color: #FF0000;
    margin: 1em;
}

.registerDiv{
    font-family: 'Questrial';
    font-size: 1em;
    font-weight: bold;
    color: #16A085;
    margin: 2em;
    vertical-align: top;
    text-align: center;
}

.registerDiv h2{
    font-weight: bold;
    color: #16A085;
}

.registerDiv .userDiv{ 
    vertical-align: top;
    display: inline-block;
    text-align: right;
    margin: 2em;
}
.registerDiv .addressDiv{
    vertical-align: top;
    display: inline-block;
    text-align: right;
    margin: 2em;
}

.registerDiv input[type="text"],input[type="password"],select{
    margin-left: 2em;
    height: 2em;
    width: 15em;
}

input.meuInput{
    margin-left: 2em;
    height: 3em;
    width: 15em;
    
}

.perfil3colunas{
    overflow: hidden;
    width: 100%;
}

.perfil3colunas .coluna{
    vertical-align: top;
    display: inline-block;
    margin: 0px auto;    
    overflow: auto;
    
}
.perfil3colunas .title{
    margin: 2em 5em;
    font-size: 1.5em;
    font-weight: 700;
}


